h1{
    color: rgb(255, 123, 0);
    font-size: 20px;
}
h2{
    color: rgb(255, 123, 0);
    font-size: 20px;
}
p{
    color: rgb(255, 123, 0);
    font-size: 20px;
}
.高雄{
    color: rgb(95, 51, 10);
    font-size: 20px;
}
img:hover{
    font-size: 100px;
}